.container {
    position: absolute;
    top: 3rem;
    right: 18rem;
    /* width: 80rem; */
    /* height: 3rem; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2.5rem;
    font-size: 1.13rem;
    color: #fff;        
    font-family: Poppins;
}

.navbar {
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1.5rem 3rem;
}

.item {
    font-weight: 600;
    font-family: Nunito;
    margin-right: 1.5rem;
}

/* .util{
  align-self: flex-end;
} */